.text {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
}

.priceItemText {
    font-size: 12px;
    color: #FF8D28;
    font-weight: bold;
    line-height: 1.2;
}

.priceText {
    color: #1A72DD;
    font-weight: bold;
}

.note {
    font-size: 12px;
    color: #00000072;
    /* font-weight: bold; */
    line-height: 1.2;
}